<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-4.0.xsd  
    http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
    http://www.springframework.org/schema/tx  
    http://www.springframework.org/schema/tx/spring-tx-4.0.xsd  
    http://www.springframework.org/schema/jdbc  
    http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd  
    http://www.springframework.org/schema/cache  
    http://www.springframework.org/schema/cache/spring-cache-4.0.xsd  
    http://www.springframework.org/schema/aop  
    http://www.springframework.org/schema/aop/spring-aop-4.0.xsd  
    http://www.springframework.org/schema/util  
    http://www.springframework.org/schema/util/spring-util-4.0.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-4.0.xsd">
     
 
 
	<!--导入外部配置文件 -->
	<!-- <context:property-placeholder location="classpath:db-oracle.properties" /> -->
	<!-- 加载配置文件 -->
<!-- 	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:*.properties</value>
			</list>
		</property>
	</bean> -->

	<bean class="com.ly.placeholder.EncryptPropertyPlaceholderConfigurer"
	    p:locations="classpath:*.properties"
		p:fileEncoding="utf-8"/>


	<!-- 扫描包 -->
	<context:component-scan base-package="com.ly" >
	         <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>  
	</context:component-scan>
	
	
	<context:component-scan base-package="redis"></context:component-scan>
	

	<!-- 数据源 写 -->
	<!-- https://blog.csdn.net/qq_31384551/article/details/81022643?utm_source=blogxgwz1 -->
	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource"   destroy-method="shutdown">
        <property name="driverClassName" value="${driverClassName}"></property>
        <property name="jdbcUrl" value="${url}"></property>
        <property name="username" value="${userName}"></property>
        <property name="password" value="${password}"></property>
        <property name="readOnly" value="false" />
        <property name="connectionTimeout" value="60000" />
        <property name="idleTimeout" value="600000" />
        <property name="maxLifetime" value="1800000" />
        <property name="maximumPoolSize" value="15" />
        <property name="minimumIdle" value="5"></property>
    </bean>



	<!-- 定义事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>



	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 别名包 -->
		<property name="typeAliasesPackage" value="com.ly.pojo" />
		<!-- 定义数据源 -->
		<property name="dataSource" ref="dataSource" />
		<!-- 自动扫描mapping.xml文件 -->
		<property name="mapperLocations" value="classpath:com/ly/mapper/*.xml"></property>
	</bean>
	
	
	<!-- 定义Mapper接口扫描器 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 扫描mapper包 -->
		<property name="basePackage" value="com.ly.dao"/>
	</bean>



 <aop:aspectj-autoproxy/>
 
 
 <tx:annotation-driven />
 
  
<!-- 定时任务 -->
<task:executor id="executor" pool-size="30" />
<task:scheduler id="scheduler" pool-size="40" />
<task:annotation-driven executor="executor"	scheduler="scheduler" />
	
<import resource="app-httpclient.xml"/>
<import resource="app-email.xml"/>
<import resource="app-redis.xml"/>



</beans>
