<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的 例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀) -->
<mapper namespace="com.ly.dao.UserDao">

	<!--resultMap注释 http://www.cnblogs.com/kenhome/p/7764398.html -->

	<select id="getUserByParam" resultType="User">
		select * from user t
		<where>
			<if test="name != null">and name = #{name, jdbcType=VARCHAR}</if>
			<if test="pwd != null">and pwd = #{pwd, jdbcType=VARCHAR}</if>
		</where>
	</select>


	<insert id="save">
		<selectKey keyProperty="count" resultType="int" order="BEFORE">
			select count(1) from user t where t.name = #{name,jdbcType=VARCHAR}
		</selectKey>
		<if test="count > 0">
			update user
			<trim prefix="set" suffixOverrides=",">
				<if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
				<if test="pwd != null">pwd = #{pwd, jdbcType=VARCHAR},</if>
				<if test="limitTime != null">limitTime = #{limitTime,jdbcType=VARCHAR},</if>
			</trim>
			where name = #{name,jdbcType=VARCHAR}
		</if>
		<if test="count == 0">
			insert into user
			(
			name,
			pwd,
			limitTime
			)
			values
			(
			#{name,jdbcType=VARCHAR},
			#{pwd, jdbcType=VARCHAR},
			#{limitTime,jdbcType=VARCHAR}
			)
		</if>
	</insert>
</mapper>