<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的 例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀) -->
<mapper namespace="com.ly.dao.WeekLineUpByHandDao">

	
	<!-- #是采用占用符    $是直接取到值 -->
	<select id="getAllByParam" resultType="StockWeekLineUpByHand">
		select * from stock_week_line_up_by_hand t
		limit #{pageIndex},#{pageSize}
	</select>


	<select id="getCountByParam" resultType="int">
		select count(1) from stock_week_line_up_by_hand t
	</select>



	<select id="getSingleByParam" resultType="StockWeekLineUpByHand">
		select * from stock_week_line_up_by_hand t
		<where>
			<if test="stock.code != null">code = #{stock.code, jdbcType=VARCHAR}</if>
		</where>
	</select>


	<insert id="save">
		<selectKey keyProperty="count" resultType="int" order="BEFORE">
			select count(1) from stock_week_line_up_by_hand t where t.code = #{code}
		</selectKey>
		<if test="count > 0">
			update stock_week_line_up_by_hand
			<trim prefix="set" suffixOverrides=",">
				<if test="code != null">code = #{code, jdbcType=VARCHAR},</if>
				<if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
				<if test="closePrice != null">closePrice = #{closePrice,jdbcType=VARCHAR},</if>
				<if test="openPrice != null">openPrice = #{openPrice,jdbcType=VARCHAR},</if>
				<if test="prevClose != null">prevClose = #{prevClose,jdbcType=VARCHAR},</if>
				<if test="minPrice != null">minPrice = #{minPrice,jdbcType=VARCHAR},</if>
				<if test="maxPrice != null">maxPrice = #{maxPrice,jdbcType=VARCHAR},</if>
				<if test="isAddToBuy != null">isAddToBuy = #{isAddToBuy,jdbcType=VARCHAR},</if>
			</trim>
			where code = #{code}
		</if>
		<if test="count == 0">
			insert into stock_week_line_up_by_hand
			(
			code,
			name,closePrice,openPrice,prevClose,minPrice,maxPrice
			)
			values(
			#{code, jdbcType=VARCHAR},
			#{name, jdbcType=VARCHAR},
			#{closePrice, jdbcType=VARCHAR},
			#{openPrice, jdbcType=VARCHAR},
			#{prevClose, jdbcType=VARCHAR},
			#{minPrice, jdbcType=VARCHAR},
			#{maxPrice, jdbcType=VARCHAR}
			)
		</if>
	</insert>


	<insert id="insertBatch">
		insert into stock_week_line_up_by_hand
		(
		code,
		name,
		closePrice,
		openPrice,
		prevClose,
		minPrice,
		maxPrice
		)
		values
		<foreach collection="list" item="stockBasic" separator=",">
			(#{stockBasic.code, jdbcType=VARCHAR},
			 #{stockBasic.name, jdbcType=VARCHAR},
			 #{stockBasic.closePrice, jdbcType=VARCHAR},
			 #{stockBasic.openPrice, jdbcType=VARCHAR},
			 #{stockBasic.prevClose, jdbcType=VARCHAR},
			 #{stockBasic.minPrice, jdbcType=VARCHAR},
			 #{stockBasic.maxPrice, jdbcType=VARCHAR}
			 )
		</foreach>
	</insert>
	
	
	<delete id="deleteByBatch" parameterType="StockWeekLineUpByHand"> <!-- java.lang.String -->
        delete from stock_week_line_up_by_hand
        where code IN
        <foreach collection="list" item="stockBasic" open="(" separator="," close=")">
            #{stockBasic.code, jdbcType=VARCHAR}
        </foreach>
    </delete>

	<!-- https://www.cnblogs.com/zjrodger/p/5567085.html -->
	<!-- https://www.jianshu.com/p/4ed9c89a2e04 -->
	<!-- https://www.oschina.net/question/3649425_2272514 -->
	<update id="truncateTable">
    truncate table stock_week_line_up_by_hand
	</update>

</mapper>