<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>pa</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:app.xml</param-value>
	</context-param>

	<!--Spring的ApplicationContext 载入 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- 编码过滤器，以UTF8编码 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 配置SpringMVC -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 指定SpringMVC配置文件 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:springmvc-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

<!-- 	<filter>
		<filter-name>logins</filter-name>
		<filter-class>com.ly.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>logins</filter-name>
		<url-pattern>/pages/safe/*</url-pattern>
	</filter-mapping> -->




<!-- https://blog.csdn.net/lzg319/article/details/80312497 -->
<!-- 代理过滤器，用于在filter中使用service。service需在applicationContext.xml中单独配置 -->
<filter>
	<filter-name>DelegatingFilterProxy</filter-name>
	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	<init-param>
		<param-name>targetBeanName</param-name>
		<param-value>myFilter</param-value>
	</init-param>
	<init-param>
		<param-name>targetFilterLifecycle</param-name>
		<param-value>true</param-value>
	</init-param>
</filter>
	<filter-mapping>
		<filter-name>DelegatingFilterProxy</filter-name>
		<!-- <url-pattern>/*</url-pattern> -->
		<url-pattern>*.do</url-pattern>
	</filter-mapping>


	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>


</web-app>