@charset "utf-8";
/* CSS Document */
input[type=checkbox],input[type=radio]{ position:relative; top:3px; *top:2px; margin-right:5px;}
input.qRadio { *position:static;}
.center { padding-bottom:20px;}
.newCartBody { background:#f6f6f6;}
.carHeader { width:100%; height:70px; background:#323232; overflow:hidden;}
.carHeaderCon { width:990px; margin:0 auto;}

.centerBox { width:990px; margin:0 auto; padding:30px 0;}
.cartNav { position:relative; z-index:2; color:#666; margin-bottom:-2px;}
.cartNav ul { overflow:hidden; padding-right:5px; padding-left:1px;}
.cartNav ul li { width:100px; height:28px; background:#ececec; line-height:28px; text-align:center; font-weight:bold; float:left; cursor:pointer; border:1px solid #fff; margin-top:4px; margin-right:-1px; white-space:nowrap;}
.cartNav ul li.active { margin-top:1px; height:32px; border-bottom:0; line-height:32px;background:#ececec url(http://pic.secoo.com/imagesPic/newCartPic/c_03.jpg) repeat-x;}
.navLogin { line-height:28px; margin-top:4px;}
.navLogin a{ color:#e93b39; padding: 0 10px;}
.navLogin a:hover { text-decoration:underline;}
.cartBox { display:none;}
.cartSlist { width:986px; border:1px solid #f1f1f1; padding:1px; background:#fff; position:relative; z-index:1;}
.carTable { width:100%; color:#666;}
.carTable tr th { height:38px; background:url(http://pic.secoo.com/imagesPic/newCartPic/c_02.jpg); font-weight:normal; color:#999; border-bottom:1px solid #fff;}
.carTable tr td { padding:10px 0; background-color:#fff; border-top:1px solid #ececec; text-align:center; line-height:22px; margin-top:-1px;}
.carTable tr td.hr { padding:5px 0; background-color:#f6f6f6;}

.borT_none{border-top:1px solid #fff; width:5px; height:100%; position: absolute; top:-1px; left:0}
.carTable tr td.borD { border-top:1px dashed #ececec; position: relative;}
.carTable tr.addChecked td{ background:#fdf0ef; }
.carTable tr.trHover td{ color:#333;}

.carTable tr.addFail td { background-color:#ececec; color:#999;}
.carTable tr.addFail td .color9d0 { color:#999;}
.carTable tr.addFail td .namePro a { color:#999;}
.carTable tr td.failText { color:#666;}

.cartName { text-align:left; line-height:20px;}
.cartPic img { border:1px solid #ececec;}
.cartNames { width:255px; overflow:hidden; position: relative; left: -81px; text-align: left;}
.haiwai .cartNames { width:155px; left: -32px;}
.namePro { width: 100%;}
.namePro a{ color:#333;}
.namePro a:hover { text-decoration:underline;}


.csPro { color:#999;}
.countNum { width:58px; margin:0 auto 2px; overflow:hidden;}
.cInput { margin-top:-1px;}
.cPlus,.cMinus { width:11px; height:18px; line-height:16px; text-align:center; color:#666; padding-right:1px; cursor:pointer; background-color:#fff; border:1px solid #eaeaea;}
.Num { width:30px; height:18px; line-height:18px; text-align:center; border:1px solid #eaeaea; border-left:0; border-right:0; color:#666}
.countNum .disa{ color:#e0e0e0; border-color:#e0e0e0;}
.countNum .disa:hover { cursor:not-allowed;border: 1px solid #f1f1f1;border-top: none;}
.cartPrice { padding:15px 45px 25px 30px; margin-top:6px; position:relative; background-color:#fff;border:1px solid #f1f1f1;}
.cartPrice p { text-align:right; padding:4px 0; color:#333;}
.totalPriceBottom{margin-top: 5px;}
.daoshou_icon{padding:0 3px}
.cartPrice p span { color:#9d003f; font-family:microsoft yahei; font-size:14px;}
.cartPrice p strong { font-family:tahoma; color:#e93b39; font-size:30px; font-weight:normal;}
.cartPrice p strong em{font-size:14px; padding-left:4px;}
.a01 { padding:5px 15px; border:1px solid #e93b39; color:#e93b39; background:none;}
.a01:hover,.a01:active{ border-color:#d32220; color:#d32220;background:none;}
.a02 { padding:10px 40px; background-color:#e93b39; color:#fff; font-weight:bold; font-size:14px; font-family:microsoft yahei;}
.a02:hover,.a02:active { color:#fff; background-color:#d32220}

.a02dis { background-color:#e4e4e4; color:#999; cursor:not-allowed;}
.a02dis:hover { color:#999; background-color:#e4e4e4}
.a02dis:active { color:#999; background-color:#e4e4e4}

.cartAno { width:300px; height:30px; position:absolute; left:31px; top:17px; overflow:hidden;}
.ano01 { width:78px;position: relative;top: 1px; left:-1px\9;}
.ano02 { padding-left:20px; background:url(http://pic.secoo.com/imagesPic/newCartPic/c_06.jpg) no-repeat 0px 0px; cursor:pointer; color:#c69c6d; height:16px; line-height:16px; *margin-top:4px;padding-top: 1px;}
.del{ color:#333}
.del:hover { color:#e93b39; text-decoration:underline;}
.delSp a{ color:#666;}
.delSp a:hover { color:#e93b39;}

.cartPop { width:255px; height:130px; position:absolute; display:none; z-index:55;}
.arrow { padding-left:10px;}
.arrow p { width:0; height:0; border-left:4px solid transparent; border-right:4px solid transparent; border-bottom:5px solid #999;}

.pos_rel{position:relative;_line-height:0; height:6px; z-index:2; margin-bottom:-1px; left:10px;} 
.pos_rel .icon1{display:block; border-left:6px solid transparent; border-right:6px solid transparent; border-bottom:6px solid #999; position:absolute; left:0;top:0;width:0;height:0;} 
.pos_rel .icon2{display:block; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #fff; position:absolute; left:-5px;top:1px;width:0;height:0;} 

.popContent { width:253px; height:123px; border:1px solid #999; background-color:#fff;}
.popContent h3 { padding:0 10px; height:33px; line-height:33px; background-color:#999; color:#fff;}
.close { position:absolute; right:10px; top:10px; font-size:18px; font-family:microsoft yahei; font-weight:bold; cursor:pointer; color:#fff;}
.popText{ text-align:center; padding-top:18px; color:#333;}
.cbtns { text-align:center; padding-top:10px;}
.cbtns a { padding:5px 10px; color:#fff; display:inline-block;}
.btn01 { background-color:#e93b39;}
.btn02 { background-color:#999;}
.btn02:hover { color:#fff; background-color:#c9c9c9}
.btn02:active { color:#fff; background-color:#797979}
.btn01:hover,.btn01:active { color:#fff; background-color:#d32220}
.ctTinp01,.ctTinp02 { display:inline-block; padding:0 5px; color:#fff; line-height:21px;}
.ctTinp01{ background:#e73a3c}
.ctTinp02 {background-color:#666;}
.cartPop01 { display:none; padding:0 20px 18px 20px; background-color:#fff; border:1px solid #9c9c9c; width:110px; position:absolute; z-index:22;}
.a03 { color:#c69c6d;}
.a03:hover {color:#c69c6d; text-decoration:underline;}
.color7f69b3:hover {color:#c69c6d; text-decoration:underline;}

/*****收货信息*****/
.cartSmsg { width:986px; border:1px solid #f1f1f1; background-color:#fff; padding:1px;}
.cartSmsg .suc01 { border:0;}
.ch3 { height:38px; background-color:#ececec; line-height:38px; text-indent:24px; font-weight:bold; color:#666;}

.mList01 { overflow:hidden; width:100%;}
.mCon {border-top:1px solid #ebebeb; margin-top:-1px; padding:0 35px 30px 35px;}
.marTop10 { margin-top:1px; border-top:0;}
.mCon h4 { padding-top:30px;} 
.mCon01 { padding-top:15px;}
.mCon01 p { line-height:18px; text-indent:18px; color:#333; padding:2px 0;}
.mCon01 p.color9d0 { color:#9d003f;}
.mCon06 { padding-top:10px;}
.mCon06 p { line-height:18px; text-indent:18px; color:#333;}
.mCon06 p.color9d0 { color:#9d003f;}
.carTable01 tr td { border:0;}
.carTable01 tr td.text01 { color:#999;}
.cartQuan { width:345px; position:absolute; left:35px; background-color:#fff;}
.cartQuan h5 { white-space:nowrap; padding-bottom:8px; background:url(http://pic.secoo.com/imagesPic/newCartPic/c_07.jpg) no-repeat left top; padding-left:20px;}
.cartQuan h5.active { background-image:url(http://pic.secoo.com/imagesPic/newCartPic/c_07_1.jpg);}
.cartQuan b { padding-right:5px;}
.cartQuan img { vertical-align:top}
.quanTab { overflow:hidden; display:none;}
.quanTab li { float:left; height:28px; line-height:28px; padding:0 15px; background:#ececec; border:1px solid #fff; margin-left:-1px; cursor:pointer; }
.quanTab li.active { border-bottom-color:#e0e0e0; background:#e0e0e0;}
.qTab01 { border:1px solid #e0e0e0;}
.qTab01con { padding:15px 10px 0 10px; display:none;}
.qTab01con p { text-align:left;}
.cadd01 .cadd { width:135px; height:20px; border:1px solid #ccc; overflow:hidden; padding:0;}
.caddInput { border:0; width:86px; height:20px; line-height:20px;}
.cadd01 .ctTinp01 { width:39px; text-align:center; background-color:#9d003f;}
.cadd01 .ctTinp01:hover { color:#fff; background-color:#d90057;}
.cadd01 .ctTinp01:active { color:#fff; background-color:#760a2e}
.cadd01 .error { clear:both; padding-left:130px; color:#9d003f}
/**/
.adress01 {}
.adress01 p { padding:10px 0;}
.adress01 span,.adress01 a { padding:0 10px;}
.adress02 { padding-top:10px; position:relative;}
.adrTable{position:relative}
.adrTable tr td { padding:8px 5px;}
.adrTable .adrTips { color:#ba0950; padding-left:10px;}
.adrInput { height:16px; line-height:16px; padding:2px 5px; border:1px solid #ccc; color:#333;}
.adrTable .adEor { border-color:#9d003f;}
.adrSel { width:132px;}
.adrBtn { padding:15px 0 0 0px;}
.a04 {padding: 7px 18px;background-color: #9d003f;color: #fff;font-family: microsoft yahei; display:inline-block;}
.a04:hover { color:#fff; background-color:#d90057;}
.a04:active { color:#fff; background-color:#760a2e;}
.mCon02 { padding-top:8px;}
.mCon03,.mCon04,.mCon05 {}
.cKb { padding-top:10px;}
.cKb p { padding:5px 0;}
.payFn { padding-top:5px;}
.payFn p { padding:10px 0;}
.payFn p input[type=radio]{*position: static;}
.mCon05 p { padding:5px 0; text-indent:18px;}
.mCon05 .adrInput { color:#ccc;}
.a05 {padding: 7px 18px;background-color: #f8f8f8;color: #666;font-family: microsoft yahei; display:inline-block; border:1px solid #dbdbdb;}
.a05:hover { color:#666; background-color:#eee;}
.a05:active { color:#666; background-color:#e0e0e0;}
.bNext .a05 { background-color:#e4e4e4; color:#999; border:0; cursor:not-allowed;}
.bNext .a05:hover { color:#999; background-color:#e4e4e4;}
.bNext .a05:active { color:#999; background-color:#e4e4e4;}

.kbPop { width:261px;left:0; *left:8px; top:30px; *top:32px; z-index:55; display:none;}
.kbPopCon { width:260px; border:1px solid #999; background-color:#fff; position:relative; z-index:1; padding:15px}
.kbPopCon .cadd01 p { line-height:20px;}
.popUserRe { display:none; width:334px; height:300px; background-color:#fff; border:1px solid #999; position:fixed; left:50%; top:50%; margin:-150px 0 0 -167px; z-index:9997;}
.popUserRe h3 { width:100%; height:32px; line-height:32px; font-weight:bold; color:#fff; background-color:#999; text-indent:14px;}
.userReTitle { width:100%; text-align:center; padding:22px 0 0px 0;}
.popUserRe .close { top:3px;}
.phoneNum { font-size:16px; font-family:microsoft yahei; color:#333; font-weight:bold;}
.userReCon span { width:95px; text-align:right; line-height:20px;}
.phoneNumBtn { padding-left:95px; padding-top:8px;}
.phoneNumBtn a {width:112px; height:28px; line-height:28px; background-color:#f8f8f8; border:1px solid #dbdbdb; text-align:center; display:inline-block;}
.phoneNumBtn a.disab { width:114px; height:30px; line-height:30px; background-color:#e4e4e4; color:#999; display:inline-block; border:0;}
.popUserRePhoneText .adrBtn { padding-left:95px;}
.passError { padding-left:95px; padding-top:8px;}
.userReCon .adEor { border-color:#9d003f; color:#9d003f;}
.cartBlackMask { width:100%; position:absolute; left:0; top:0; z-index:9995; background:#000; opacity:0.5; filter:alpha(opacity=50); display:none;}
.popUserRePhone { height:150px; margin-top:-75px;}
.popUserRePhone .adrBtn { text-align:center;}
.cartPrice p.color9d0 { color:#9d003f;}
.qtableCon { width:343px; padding:10px 0; height:86px; overflow:auto;}
.qtable { width:323px;}
.qtable tr th { font-weight:normal; color:#999; padding:0 0 10px 0;}
.qtable tr td { color:#333; text-align:center; padding:5px 0;}
.qtable tr:nth-child(even) { background-color:#f6f6f6;}
.reBitian { position:relative; padding-right:10px; top:4px; line-height:22px; display:inline-block;}
.cadd02 p span { font-size:12px; }

/**空购物车**/
.nullCart { padding:50px 0 140px 0; background:url(http://pic.secoo.com/imagesPic/newCartPic/c_11.jpg) no-repeat 150px 50px;}
.nullText { padding:20px 0 0 410px;}
.cText01 { font-size:24px; font-family:microsoft yahei; color:#5d5d5d; padding-bottom:22px;}
.cText02 { padding-left:60px;}
.mostWantedBox { position:relative; z-index:1; width:990px; margin:0 auto;}
.mostWanted { width:990px; margin:0 auto; padding-bottom:40px; position:absolute; left:0; top:0px;}
.list06Ul li { width:160px; padding:0 15px ; float:left; display:inline;}
/*.list06Ul li:hover { background-color:#f9f9f9;}*/
.epic { width:100%; text-align:center;}
.ename { height:22px; line-height:22px; overflow:hidden; width:100%; text-align:center; padding-top:5px;}
.ename a { color:#666;}
.eskprice { color:#666; width:100%; text-align:center;}
.eskprice strong { font-size:14px;}
/* Elastislide Style */
.es-carousel-wrapper{
	background: #fff;
	padding:30px;
	position:relative;
	border:1px solid #f0f0f0;
}
.es-carousel{
	overflow:hidden;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li img{
	border:1px solid #ececec;
}

.es-nav span{
	position:absolute;
	top:50%;
	left:12px;
	background:url(http://pic.secoo.com/imagesPic/newCartPic/c_12.png) no-repeat 0 0;
	width:15px;
	height:29px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:12px;
	left:auto;
	background-position:-15px 0;
}
.es-nav span:hover{
	opacity:1.0;
}
.wantEdTab { width:990px; margin:0 auto; margin-bottom:-2px; overflow:hidden; position:relative; z-index:2;}
.wantEdTab ul {}
.wantEdTab ul li.singleWantEdTab {width: 100%; border-bottom: none;}
.wantEdTab ul li { height:40px; line-height:40px; background-color:#ececec; border:1px solid #fff; cursor:pointer; padding:0 25px; font-weight:bold; color:#666; float:left; margin-top:3px; margin-right:-1px;}
.wantEdTab ul li.active { height:31px; background:url(http://pic.secoo.com/imagesPic/newCartPic/c_13.jpg) repeat-x; margin-top:0; border-color:#ececec; border-bottom-color:#fff;}
.adress01 .active { background-color:#f5f5f5;}
.adress01 .cactive { background-color:#f5f5f5;}
.adiShow { display:none;}

.wantEdTabCon ul li { height: 28px;
line-height: 28px;
background-color: #ececec;
border: 1px solid #fff;
cursor: pointer;
padding: 0 25px;
font-weight: bold;
color: #666;
float: left;
margin-top: 3px;
margin-right: -1px;}
.wantEdTabCon ul li.active {height: 31px;
background: url(http://pic.secoo.com/imagesPic/newCartPic/c_13.jpg) repeat-x;
margin-top: 0;
border-color: #ececec;
border-bottom-color: #fff;}

/**订单提交成功**/
.suc01 { padding:30px 55px; background-color:#fff; border:1px solid #f0f0f0; position:relative;}
.suc01Left { width:700px;}

.sucList_error{background:url(http://pic.secoo.com/imagesPic/newCartPic/CarError_sublim.png) no-repeat left center; padding:0 0 0 62px;}
.sucList01 { background:url(http://pic.secoo.com/imagesPic/newCartPic/c_14.jpg) no-repeat left center; padding:0 0 0 62px;}
.sucText01 { font-size:18px; font-family:microsoft yahei; font-weight:bold; color:#333; padding:3px 0 5px 0;}
.sucText02 { font-size:16px; font-weight:bold; padding:5px 0 0 0;}
.sucText02 span { font-size:14px; font-family:microsoft yahei;}
.sucText02 span strong { font-size:14px; font-family:Tahoma,sans-serif;}
.sucList02 { color:#999; line-height:22px; padding-top:10px;}

.wantEdTabs { margin-top:10px; margin-bottom:-2px; overflow:hidden; position:relative; z-index:2;}
.wantEdTabs ul {}
.wantEdTabs ul li { height:28px; line-height:28px; background-color:#ececec; border:1px solid #fff; cursor:pointer; padding:0 25px; font-weight:bold; color:#666; float:left; margin-top:3px; margin-right:-1px;}
.wantEdTabs ul li.active { height:31px; background:url(http://pic.secoo.com/imagesPic/newCartPic/c_13.jpg) repeat-x; margin-top:0; border-color:#ececec; border-bottom-color:#fff;}
.suc01 { border-top:1px solid #ebebeb; margin-top:-1px;}
.sucList03 { width:100%; height:auto; overflow:hidden; position:relative}
.sucList03 h3 { color:#333;}
.sucList03 h3 strong { color:#666;}
.sucList03 ul { padding-top:20px; width:1000px; margin-left:-38px;}
.sucList03 ul li{ width:190px; float:left; padding-bottom:20px; margin-left:38px; _display:inline; cursor:pointer; position:relative;}
.sucList03 ul li input {top:12px;}
.sucList03 ul li.active .bankP { border-color:#c69c6d;}
.sucList03 ul li.hover .bankP { border-color:#c69c6d;}

.bankP { width:160px; height:28px; padding:4px 0 4px 5px; border:1px solid #dddddd; position:relative;}
.bankP span { width:18px; height:34px; position:absolute; right:1px; top:1px; background-color:#c4af94; text-align:center; color:#fff; line-height:16px;}

.bankPic { background:url(http://pic.secoo.com/imagesPic/newCartPic/bank1.png) no-repeat top center; width:160px; display:block; height:28px;}
.bank01 { background-position:0 -3px;}
.bank02 { background-position:0 -726px;}
.bank03 { background-position:0px -757px;}
.bank04 { background-position:0 -62px;}
.bank05 { background-position:0 -580px;}
.bank06 { background-position:0 -350px;}
.bank07 { background-position:0 -177px;}
.bank08 { background-position:0 -233px;}
.bank09 { background-position:0 -636px;}
.bank10 { background-position:0 -261px;}
.bank11 { background-position:0 -522px;}
.bank12 { background-position:0 -90px;}
.bank13 { background-position:0 -609px;}
.bank14 { background-position:0 -550px;}
.bank15 { background-position:0 -406px;}
.bank16 { background-position:0 -120px;}
.bank17 { background-position:0 -149px;}
.bank18 { background-position:0 -377px;}
.bank20 { background-position:0 -437px;}
.bank21 { background-position:0 -33px;}
.bank22 { background-position:0 -665px;}
.bank23 { background-position:0 -695px;}
.bank24 { background-position:0 -463px;}
.bank25 { background-position:0 -292px;}
.bank26 { background-position:0 -494px;}
.bank27 { background-position:0 -206px;}
.bank28 { background-position:0 -321px;}
.bank29 { background-position:0 -816px;}
.bank30 { background-position:0 -845px;}
.bank31 { background-position:0 -876px;}
.bank32 { background-position:0 -906px;}
.bank33 { background-position:0 -935px;}
.bank34 { background-position:0 -967px;}
.bank35 { background-position:0 -998px;}
.bank36 { background-position:0 -1029px;}
.bank37 { background-position:0 -1062px;}
.bank38 { background-position:0px -788px;}
.bank50 { background-position:0 -1038px;}
.bank51 { background-position:0 -1102px;}

.moreBtn { cursor:pointer;}
.moreBtn .btnM { width:160px; padding:4px 0 4px 5px; line-height:28px; border:1px solid #ddd; color:#c69c6d; position:relative; text-indent:20px;}
.moreBtn .btnM:hover { border-color:#c69c6d;}
.btnM .arrow-up,.btnM .arrow-down { position:absolute; right:30px; top:17px;}
.bNext .a04,.bNext .a05 { padding:7px 30px;}

.suc02 { padding:20px 0; text-indent:24px; color:#666;}
.suc02 a { padding:0 5px;}
.payBox { display:none;}
.suc03 div { padding:0px 0 17px 0; line-height:20px;}
.suc03 p { }
.suc03 .color999 { padding-top:6px;}
.payElse ul { padding-top:0;}
.bankTips { clear:both; width:165px; float:right; padding-top:5px; color:#333;}
.suc04 { position:relative;}
.suc04 h4 { line-height:20px; vertical-align: text-bottom; padding-bottom:12px;}
.carTable02 tr td { padding:10px 5px; color:#333;}
.carTable02 .adrInput { height:20px; line-height:20px;}

.kuaijie { width:170px; position:absolute; right:0; top:20px;}
.kuaijie p.unionPay { width:170px; background:url(http://pic.secoo.com/imagesPic/newCartPic/bank1.png) no-repeat 55px -788px; height:28px;}

.suc05 {}
.suc05 p { padding:4px 0 4px 5px; border:1px solid #ddd; cursor:pointer;}
.suc05 span { line-height:38px;}
.suc06List { padding:20px 0 0 0;}
.suc06List .active { border-color:#c69c6d;}
.suc06List .hover { border-color:#c69c6d;}
.ctips01 { padding-bottom:5px; line-height:20px; width:290px; margin:0 auto;}
.ctips01 p { background:url(http://pic.secoo.com/imagesPic/newCartPic/c_16.jpg) no-repeat left 8px; padding-left:10px;}
.suc06List input { top:12px; margin-right:10px;}
.sucList03 li input { *position:static; *margin-right:0; *margin-top:8px;_position:static; _margin-right:0; _margin-top:8px;}
.suc06List input { *position:static; *margin-top:8px; _position:static; _margin-top:8px;}
.suc07List { padding:20px 0 0 23px;}
.suc07List .active { border-color:#c69c6d;}
.suc07List .hover { border-color:#c69c6d;}
.suc07List .btnM{
	width: 160px;
	padding: 4px 0 4px 5px;
	line-height: 28px;
	border: 1px solid #ddd;
	color: #c69c6d;
	position: relative;
	text-indent: 20px;
}

/**海外**/

.haiwai .haiwai01 { border:1px solid #f0f0f0; background-color:#fff; border-bottom:0; padding:1px;}
.haiwai03 { margin-top:30px; position:relative; height:15px; width:75px; cursor:pointer;}
.haiwai02 h3 { cursor:pointer; padding-bottom:20px;}
.haiwai03 .arrow-down,.haiwai02 .arrow-up { margin-top:6px; *margin-top:5px;}
.haiwai02 { display:none;}
.haiwaiElse #ulBank05 li { width:167px;}
.haiwaiElse #ulBank05 li input { display:none;}
.haiwai04 { padding-top:25px;}
.haiwai04 p {line-height:20px;}
#hutia { width:790px; text-align:left; text-indent:0; padding-left:5px;}
#hutia a { padding:0 4px;}
.zIndex01 { z-index:1;}
.zIndex02 { z-index:2;}
.borderSoild { border:1px solid #ebebeb; border-bottom:0; background-color:#fff; padding:1px 0 0 0; overflow:hidden;}
.borderSoild01 { width:986px; margin:0 auto;border-top:4px solid #ececec;}
.rela { position:relative; width:232px; overflow:hidden; border:1px solid #ccc;}
.ab { position:absolute; left:1px; top:1px; background-color:#7f69b2; color:#fff; padding:4px;}
.rela .adrInput { border:0; text-indent:95px; float:left;} 

/*有奖调查*/
.fixBack { width:58px; position:fixed; bottom:10px; left:50%; margin-left:500px;}
.fixBack .fbtn { width:58px; height:58px; display:block; background:url(http://pic.secoo.com/imagesPic/newCartPic/c_04.png) no-repeat; margin-top:10px; overflow:hidden; text-indent:-9999px;}
.fixBack .go-top { background-position:0 -66px; display:none;}
.fixBack .survey { background-position:0 0;}
.fixBack .go-top:hover { background-position:-63px -66px;}
.fixBack .survey:hover { background-position:-63px 0px;}





.jiange {width: 990px; position: absolute; left: -2px; height: 6px; top: 0; background-color: #f6f6f6;}
.carTable tr td.jiangeOut {padding: 3px 0; position: relative; background-color: #f6f6f6;}

#toEditShipping:hover.#toEditPayType:hover { text-decoration:none;}


/*购物车区域合并*/
.cartArrows{
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #c69c6d;
	font-size: 0;
	line-height: 0;
	display:inline-block;
	position:relative;
	top:-1px;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
.trHover .cartArrows { -webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}
.cartyh { position:relative; z-index:55; height:23px;}
.cartyhp { padding:40px 10px 10px 10px; border:1px solid #e3e3e3; background:#fff; position:absolute; top:-7px; left:-10px; z-index:2; display:none;}
.cartyhTable { border:1px solid #e3e3e3; top:5px;}
.cartyh .color7f69b3 { position:absolute; left:0; top:0px; z-index:3; cursor:pointer; white-space:nowrap;}
.cartyh .color7f69b3:hover { text-decoration:none;}
.cartyhTable tr th { background:#f4f4f4; text-align:center; border:1px solid #e3e3e3;}
.cartyhTable tr td input { margin:0;}
.cartyhTable tr td { border:1px solid #e3e3e3; color:#666; font-family:verdana;}
.carTable .cartyhTable tr td { color:#666;}
.cartyhTable tr td strong {color:#9d003f}
.cartyhTable tr td .yhMsg { padding-left:25px;}
.cartyhTable tr td .yhMsg p { text-align:left; color:#666;}
.cartYhTips { position:absolute; right:10px; top:6px;}
.cartYhTips span { color:#9d003f; padding-right:5px;}
.cartYhTips a { display:inline-block; padding:0px 10px; background:#9d003f; color:#fff;}
.cartNames { position:static;}
.carTable tr td.borD { position:static;}	
.carTable tr.sx-tr td{ background:#e4e4e4; color:#999;}
.carTable tr.sx-tr .namePro a,.carTable tr.sx-tr .color9d0{color:#999;}
.carTable tr th{ height:48px}
.padLeft18{ padding-left:18px}


.namep1{ height:32px;}
.ano02:hover{  background: url(http://pic.secoo.com/imagesPic/newCartPic/c_061.png) no-repeat 0px 0px;}
.colore93{ color:#e93b39}
.car_zpInfo{ padding:13px 0 4px 1px; margin-left:-5px;}.car_zpInfo a{ color:#666;}.car_zpInfo a:hover{ text-decoration:underline;}
.car_zpInfo i{font-family: "microsoft yahei"; font-style:normal}
.car_zpInfo b,.car_zpInfo i{ color:#e93b39;}
.car_zpInfo .Jhyj b,.car_zpInfo .Jhyj i{ color:#666}
.car_zpInfo .Jxj b,.car_zpInfo .Jxj i{ font-weight:bold;}
.pdd{ margin-top:1px;display:inline-block}
.pdd .item a{background:url(about:blank); cursor:pointer;}
.pdd .item a span{background: #fff url(http://pic.secoo.com/imagesPic/newCartPic/zp_01.png) no-repeat 3px center;display: block; min-width:30px; min-height:21px;border:1px solid #ededed ; padding:1px;text-align: center; line-height: 21px;}
.addChecked .pdd .item a span{ background:#fdf0ef url(http://pic.secoo.com/imagesPic/newCartPic/zp_01.png) no-repeat 3px center;}
.pdd .item a span em{padding:0 20px 0 25px; color:#666;}
.pdd .item a:hover span{border:1px solid #806ab4 ;}
.pdd .item a:hover{color:#666;}
.pdd .item.on{position: relative;}
.pdd .item.on a span{border:1px solid #806ab4 ;}
.pdd .item label{display: none;}
.pdd .item.on{border:0 none; position: relative;}
.pdd .item.on label{position: absolute; display: block; background:url(http://pic.secoo.com/imagesPic/newCartPic/zp_02.png) no-repeat; width:10px; height: 10px; right: 1px; bottom: 1px; }
.pddmore{ color:#7f69b3; padding-left:12px; float:left}
.pddmore:hover{ text-decoration:underline;color:#7f69b3; }
.Jzpbz .car_zpInfo{ position:relative;}
.Jhyj,.Jsl,.Jxj{ position:absolute; color:#666; display:block; top:2px;}
.Jhyj{ left:363px; width:97px; text-align:center}
.Jsl{ left:500px; width:58px; text-align:center;}
.Jxj{ left:599px; width:111px; text-align:center}.Jzpbz{ display:none; padding-bottom:10px; padding-top:8px;}
.cPlus:hover, .cMinus:hover{ background:#e93b39; color:#fff;}.cPlus.nMinus,.cMinus.nMinus,.cPlus.nMinus:hover,.cMinus.nMinus:hover{cursor: not-allowed; color:#e0e0e0;background:#fff;}
.colore93{ color:#e93b39}
.car_zpInfo{ padding:13px 0 4px 1px; margin-left:-5px;}
.car_zpInfo a{ color:#666;}.car_zpInfo a:hover{ text-decoration:underline;}
.car_zpInfo i{font-family: "microsoft yahei"; font-style:normal}
.car_zpInfo b,.car_zpInfo i{ color:#e93b39;}
.carTable01 tr td.text01{  color: #999; padding-bottom:19px; padding-top:9px;}
.pad45{padding: 0px 0 5px;}