#pagination {
	background: #e3e3e3;
	height: 40px;
	line-height: 40px;
	width: 100%;
	margin-top: 20px;
	text-align: right;
}

#pagination .active {
	color: #c41929;
	border: 1px solid transparent;
	background: #e3e3e3;
	font-size: 14px;
	padding:10px 20px;
	margin-right: 10px;
}

#pagination a, #pagination span {
	border: 1px solid #cdcdcd;
	background: #fff;
	font-size: 14px;
	padding:10px 20px;
	color: #000;
	margin-right: 10px;
}

#pagination a.jump-btn {
	margin-right: 20px;
	margin-left: 20px;
}

#pagination input {
	height: 18px;
	line-height: 18px;
	width: 30px;
}

#pagination  span.current{
	background: #337ab7
}

#pagination  span.disabled{
	background: #ccc;
}