<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:ws="http://jax-ws.dev.java.net/spring/core" xmlns:wss="http://jax-ws.dev.java.net/spring/servlet"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	    http://www.springframework.org/schema/aop
	    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
	    http://jax-ws.dev.java.net/spring/core 
	    http://jax-ws.dev.java.net/spring/core.xsd
        http://jax-ws.dev.java.net/spring/servlet 
        http://jax-ws.dev.java.net/spring/servlet.xsd"
	default-autowire="byName">

	<context:component-scan base-package="com.gwssi" />

	<!-- 加载配置文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:*.properties</value>
			</list>
		</property>
	</bean>

	<!-- jndi方式DataSource -->
	<!-- <bean id="defaultDataSource" class="org.springframework.jndi.JndiObjectFactoryBean"> 
		<property name="jndiName"> <value>java:comp/env/jdbc/base</value> </property> 
		</bean> -->

	<bean id="defaultDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<value>oracle.jdbc.driver.OracleDriver</value>
		</property>
		<property name="url">
		  <value>jdbc:oracle:thin:@(DESCRIPTION= (ADDRESS=(PROTOCOL=TCP)(HOST=10.0.3.153)(PORT=1521)) (ADDRESS=(PROTOCOL=TCP)(HOST=10.0.3.159)(PORT=1521)) (LOAD_BALANCE=yes)(CONNECT_DATA=(SERVER=DEDICATED) (SERVICE_NAME=racdb5)))</value>	
		<!-- <value>jdbc:oracle:thin:@10.3.70.134:1521:oragxk</value>  -->
 		</property>
		<property name="username">
			<value>db_query</value>
		</property>
		<property name="password">
			<!-- <value>123456</value> -->
			<value>db_query</value>
		</property>
		<property name="validationQuery">
			<value>select 1 from dual</value>
		</property>
		<property name="testWhileIdle" value="true"/>
        <property name="removeAbandoned" value="true"/>
       	<property name="timeBetweenEvictionRunsMillis">
			<value>30000</value>
		</property> 
		<property name="minEvictableIdleTimeMillis">
			<value>200000</value>
		</property>
	</bean>
		
	<!--事务管理DataSourceTransactionManager -->
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="defaultDataSource" />
	</bean>

	<!-- 针对注解声明式的事物 -->
	<tx:annotation-driven transaction-manager="txManager" />

	<aop:config>
		<!-- <aop:pointcut id="baseServiceMethods" expression="execution(* com.gwssi.*.service..*.*(..))" 
			/> -->
		<aop:pointcut id="baseServiceMethods"
			expression="target(com.gwssi.optimus.core.service.BaseService)" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="baseServiceMethods" />
	</aop:config>

	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="select*" read-only="true" propagation="SUPPORTS"
				rollback-for="Exception" />
			<tx:method name="find*" read-only="true" propagation="SUPPORTS"
				rollback-for="Exception" />
			<tx:method name="do*" propagation="REQUIRED" isolation="READ_COMMITTED"
				rollback-for="Exception" />
			<tx:method name="insert*" propagation="REQUIRED" isolation="READ_COMMITTED"
				rollback-for="Exception" />
			<tx:method name="update*" propagation="REQUIRED" isolation="READ_COMMITTED"
				rollback-for="Exception" />
			<tx:method name="add*" propagation="REQUIRED" isolation="READ_COMMITTED"
				rollback-for="Exception" />
			<tx:method name="delete*" propagation="REQUIRED" isolation="READ_COMMITTED"
				rollback-for="Exception" />
		</tx:attributes>
	</tx:advice>

	<bean name="sessionCacheClient"
		class="com.gwssi.optimus.core.web.session.client.redis.RedisSessionCacheClient"></bean>
	<bean name="sessionManager"
		class="com.gwssi.optimus.core.web.session.manager.CatalinaSessionManager"></bean>
	<bean name="authManager" class="com.gwssi.optimus.plugin.auth.OptimusAuthManager"></bean>
	<!-- 多数据源管理类：XML文件方式  -->
	<bean class="com.gwssi.optimus.core.persistence.datasource.storage.impl.DynamicSourceToXML"></bean>
	<!-- 多数据源管理类：自定义数据库方式 -->
	<!-- <bean class="com.gwssi.datacenter.dataSource.DynamicSourceToDC"></bean> -->
	
		<!-- 模型方法 发布webService 接口 -->
	<!-- <wss:binding url="/services/modelreturn">
		<wss:service>
			<ws:service bean="#modelfunc" />
		</wss:service>
	</wss:binding>
	<bean id="modelfunc" class="com.gwssi.webService.service.ModelFuncTest">
	</bean> -->
	<!-- 模型方法 -->
</beans>